In [6]:
import pandas as pd

In [7]:
dataFrame =pd.read_excel("bisiklet_fiyatlari.xlsx")

In [8]:
dataFrame.head()

        Fiyat  BisikletOzellik1  BisikletOzellik2
0  807.673876       1749.628226       1749.590668
1  959.227520       1748.007826       1751.824206
2  718.020033       1750.122967       1747.977026
3  945.668885       1749.916440       1750.771646
4  955.542968       1750.780519       1750.592430

###Veriyi test/train olarak ikiye ayÄ±rnmak

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
#train_test_split

In [13]:
dataFrame["Fiyat"]

0       807.673876
1       959.227520
2       718.020033
3       945.668885
4       955.542968
          ...
995     833.920637
996     800.298076
997     799.261737
998     705.802257
999    1048.892414
Name: Fiyat, Length: 1000, dtype: float64

In [16]:
y= dataFrame["Fiyat"].values
x= dataFrame[["BisikletOzellik1","BisikletOzellik2"]].values
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=15)

In [18]:
x_train.shape

(670, 2)

In [19]:
x_test.shape

(330, 2)